extends layout

block content
  div.page
    div.wrapper
      header(role='title')
        h1= title

      main(role='main')
        div.notfound Nothing found :'-(

      footer(role='helplinks')
        a(href='/') Home
        a(href='/about') About
