extends layout

block content
  div.page
    div.wrapper
      header(role='title')
        h1= title

      main(role='main')

        div#loader(style='display:none;')
          div.loadingbar

        div.addform
          h2 Add game
          form(method='post' action='')
            input(style='width:500px;' type='text' name='url' placeholder='URL' value='')
            input(type='submit' value='Submit')

          h2 Add categories -> games
          form#parseAll(method='post' action='/add/all')
            input#allurl(style='width:500px;' type='text' name='url' placeholder='URL' value='http://www.games-wiki.org/wiki/Category:Game_by_location/')
            input(type='submit' value='Submit')


      footer(role='helplinks')
        a(href='/') Home
        a(href='/about') About

  script(src='/javascripts/jquery-2.1.0.min.js')
  script(src='/javascripts/addform.js')

