extends layout

block content
  div.page
    div.wrapper
      header(role='title')
        h1= title

      main(role='main')
        div.addform
          form(method='post' action='')
            input(style='width:300px;' type='text' name='url' placeholder='URL' value='http://www.games-wiki.org/w/index.php?title=Ambiguous&action=edit')
            input(type='submit' value='Submit')

      footer(role='helplinks')
        a(href='/') Home
        a(href='/about') About
