extends layout

block content
  div.page
    div.wrapper
      header(role='title')
        h1#gameName= title

      main(role='main')

        article#gameRules(role='rules')!=game.data

        div.tags
          ul#gameCats
            each cat in game.categories
              li: a(href='/category/#{cat.name.replace(/ /g, "_")}')= cat.name

      div.nextlink
        a#gameNext(href='/') Next

      footer(role='helplinks')
        a(href='/') Home
        a(href='/about') About

  script(src='/javascripts/jquery-2.1.0.min.js')
  script(src='/javascripts/game.js')
