extends layout

block content
  div.page
    div.wrapper
      header(role='title')
        h1#gameName= title

      main(role='main')

        div#loader
          div.loadingbar

        article#gameRules(role='rules')

        div.tags
          ul#gameCats

      div.nextlink
        a#gameNext(href='/') Next

      footer(role='helplinks')
        a(href='/') Home
        a(href='/about') About

  script(src='/javascripts/jquery-2.1.0.min.js')
  script(src='/javascripts/game.js')
