extends layout

block content
  div.page
    div.wrapper
      header(role='title')
        h1= title

      main(role='main')

        article(role='rules')!=game.data

        div.tags
          ul
            each cat in game.categories
              li: a(href='#')= cat.name

      div.nextlink
        a#next(href='/') Next

      footer(role='helplinks')
        a(href='/' data-global) Home
        a(href='/about' data-global) About

  script(src='/javascripts/jquery-2.1.0.min.js')
  script(src='/javascripts/game.js')
