body {
  padding: 0;
  margin: 0;
  font: 100% "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #2786C4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page {
  width: 700px;
  margin: 0 auto;
}

.page header h1 {
  text-align: center;
  font-size: 2.5em;
  padding: 0;
  margin: 1em 0;
  text-transform: uppercase;
}

.page article ul {
  margin: 0.2em 0 0.2em 1em;
}

.page article > ul {
  margin-left: 0;
}

.page article ul > li:before {
  content: '\2022';
  color: #186496;
  padding-right: 0.4em;
}

.page article li {
  line-height: 1.5;
}

.page .tags li {
  float: left;
  margin: 5px 3px;
}

.page .tags li > a {
  padding: 3px 7px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #27ae60;
  color: #fff;
}

.page .tags li:nth-of-type(8n+1) > a {
  background-color: #2980b9;
}

.page .tags li:nth-of-type(8n+2) > a {
  background-color: #8e44ad;
}

.page .tags li:nth-of-type(8n+3) > a {
  background-color: #d35400;
}

.page .tags li:nth-of-type(8n+4) > a {
  background-color: #27ae60;
}

.page .tags li:nth-of-type(8n+5) > a {
  background-color: #2c3e50;
}

.page .tags li:nth-of-type(8n+6) > a {
  background-color: #16a085;
}

.page .tags li:nth-of-type(8n+7) > a {
  background-color: #c0392b;
}

.page .tags li:nth-of-type(8n) > a {
  background-color: #f39c12;
}

.page article {
  clear: both;
  padding: 0.1em 0 2em;
}

.page article h2 {
  font-size: 1.5em;
  padding: 0;
  margin: 1em 0 0.7em;
}

.page .nextlink {
  clear: both;
  padding: 3em 0 2em;
}

.page .nextlink a {
  position: relative;
  display: block;
  outline: none;
  background: #ecf0f1;
  font-size: 1.1em;
  padding: 0.5em 0;
  text-align: center;
  letter-spacing: 1px;
  color: #222;
  text-decoration: none;
  transition: background 0.2s;
}

.page .nextlink a:hover {
  background: #bdc3c7;
}

.page .nextlink .disabled {
  opacity: 0.6;
}

.page .nextlink .disabled:hover {
  cursor: default;
  background: #edf0f1;
}

.page footer {
  margin-top: 2em;
  text-align: center;
}

.page footer a {
  color: #888;
  font-size: 0.8em;
  margin: 0 0.5em;
}
